.titleAndImages {
  display: grid;
  max-width: 1000px; 
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(4, 250px);
  gap: 20px; 
  background: #fff;
  margin: 40px auto;
  padding: 16px;
  border: 5px slateblue;
}

#title {
  grid-column: 1 / span 4;
  grid-row: 1 / 2;
  font-size: 80px;
  text-align: center;
  display: grid;
  place-items: center;
  border: 1px solid #ccc;
  background: #fff;
}

#unicorn-img-1 {
  grid-column: 6 / span 4;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-2 {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-3 {
  grid-column: 3 / span 2;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-4 {
  grid-column: 5 / span 4;
  grid-row: 2 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-5 {
  grid-column: 9 / span 2;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-6 {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-7 {
  grid-column: 9 / span 2;
  grid-row: 3 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-8 {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-9 {
  grid-column: 3 / span 2;
  grid-row: 4 / 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#unicorn-img-10 {
  grid-column: 5 / span 6;
  grid-row: 4 / 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}




