.titleAndImages{display:grid;
    max-width: 1000px; 
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 20px; 
}

#title {
    grid-column: 1/ span 4;
    grid-row: 1;
    font-size: 80px;
    align-items: center;
}


#unicorn-img-1{
    grid-column: 6/span 4;
    grid-row: 1;
}

#unicorn-img-2{
    grid-column:1/span 2;
    grid-row: 2;
}

#unicorn-img-3{
    grid-column: 3/span 2;
    grid-row: 2;
}

#unicorn-img-4{
    grid-column: 5/ span4;
    grid-row: 2 /span 2;
}

#unicorn-img-5{
    grid-column: 9/ span 2;
    grid-row: 2;
}

#unicorn-img-6{
    grid-column: 1/4;
    grid-row: 3;
}
#unicorn-img-7{
    grid-column: 9/span 2;
    grid-row: 3;
}




