#titleAndImages{display:grid;
    max-width: 1000px; 
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 20px; 
}

#title{display: grid
    grid-template-columns: 500px;
    grid-template-rows: 250px;
    font-size: 80px;
}

#unicorn-img-1{display: grid
    grid-template-columns: 500px;
    grid-template-rows: 250 px;
}

